ul {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  gap: 40px;
  margin: 0;
  margin-top: 150px;
}

@media only screen and (max-width: 768px) {
  ul {
    display: flex;
    max-width: 100%;
    flex-wrap: nowrap;
    gap: 40px;
    margin: 0;
    margin-top: 150px;
    background-color: red;
    overflow-x: scroll;
  }
}
